<div class="nested-landing">
  <img class="desktop-pic" src="/images/runningbridge.jpeg" alt="people running">
  <img class="mobile-pic" src="/images/runningfullsize.jpeg" alt="people running">
  <div class="text-block">
    <h2 class="shoutout">FIND YOUR PEOPLE</h2>
    <h4 class="subtext">Search for your ideal running partner and enjoy the camaraderie you were missing.</h4>
    <%- if logged_in? -%>
      <a class="start button large yellow" <%= link_to 'START HERE', users_path %></a>
    <%- else -%>
      <a class="start button large yellow" <%= link_to 'START HERE', "/auth/strava" %></a>
    <%- end -%>
  </div>
</div>

<br/>

</br/>
<h2 id="how-it-works" class="how-it-works">How Kiburi Works</h2>
<div class="steps">
  <p class="step1">Sign up and create your profile by linking your account with Strava.</p>
  <img class="strava-omniauth" src="/images/OmniAuth.png" alt="authorize Strava">
  <p class="step2">Browse other people's profiles to help find your best match.</p>
  <img class="example-browse" src="/images/BrowseProfilesMedium.png" alt="browse profiles example">
  <p class="step3">Click on each profile to see more details about that person.</p>
  <img class="example-profile" src="/images/examplestats.png" alt="example profile">
  <p class="step4">When you find someone who might be a match, click "SEND MATCH REQUEST".</p>
  <img class="send-request" src="/images/sendrequest.png" alt="example profile">
  <p class="step5">That person can then choose to accept or deny the match request.</p>
  <p class="step6">If they accept, you will be able to view a chatroom where you can
      get to know each other and coordinate further details.
  </p>
  <img class="example-chat" src="/images/examplechat.png" alt="example chat">
  <p class="step7">Meet for a run with your new running partner!</p>
</div>
