<img class="desktop-pic" src="/images/runningbridge.jpeg" alt="people running">
<img class="mobile-pic" src="/images/runningfullsize.jpeg" alt="people running">

<div class="text-block">
  <h2 class="shoutout">FIND YOUR PEOPLE</h2>
  <h4 class="subtext">Search for your ideal running partner and enjoy the camaraderie you were missing.</h4>
  <a class="start button large yellow" <%= link_to 'START HERE', "/auth/strava" %></a>
</div>

<br/>

</br/>
<h2 id="how-it-works" class="how-it-works">How Kiburi Works</h2>
<div class="steps">
  <p class="step1">Sign up and create your profile by linking your account with Strava.</p>
  <img class="strava-omniauth" src="/images/OmniAuth.png" alt="authorize Strava">
  <p class="step2">Browse other people's profiles to help find your best match.</p>
  <img class="example-browse" src="/images/BrowseProfilesMedium.png" alt="browse profiles example">
  <p class="step3">Click on each profile to see more details about that person.</p>
  <img class="example-profile" src="/images/MyProfile.png" alt="example profile">
  <p class="step4">When you find someone who might be a match, click "Contact Now".</p>
  <p class="step5">That person will receive a notification of a match, and can choose to accept or deny.</p>
  <p class="step6">If they accept, you will both be invited to a private chatroom where you can
      get to know each other and coordinate further details.
  </p>
  <p class="step7">Meet for a run with your new running partner!</p>
</div>
