<img src="https://images.unsplash.com/photo-1551927336-09d50efd69cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80" alt="HTML Letters" width="1817" height="1718">

<div class="text-block">
  <h2 class="shoutout">FIND YOUR PRIDE</h2>
  <h4>Search for your ideal running partner and enjoy the camaraderie you were missing
  through Kiburi.</h4>
</div>

<br/>

</br/>
<h1>How Kiburi Works</h1>
<h5>1. Sign up and create your profile by linking your account with Strava.</h5>
<h5>2. Browse other people's profiles and sort in order to help find your best match.</h5>
<h5>3. Click on each profile to see more details about that person.</h5>
<h5>4. When you find someone who might be a match, click "Contact Now".</h5>
<h5>5. That person will receive a notification of a match, and can choose to accept or deny.</h5>
<h5>6. If they accept, you will both be invited to a private chatroom where you can
    get to know each other and coordinate further details.
</h5>
<h5>7. Meet for a run with your new running partner!</h5>
