<img class="desktop-pic" src="images/runningbridge.jpeg" alt="people running">
<img class="mobile-pic" src="images/runningfullsize.jpeg" alt="people running">

<div class="text-block">
  <h2 class="shoutout">FIND YOUR PEOPLE</h2>
  <h4 class="subtext">Search for your ideal running or cycling partner and enjoy the camaraderie you were missing.</h4>
  <a class="start button large yellow" <%= link_to 'START HERE', root_path %></a>
</div>

<br/>

</br/>
<h2 id="how-it-works">How Kiburi Works</h2>
<ol class="steps">
  <li>Sign up and create your profile by linking your account with Strava.</li>
  <li>Browse other people's profiles and sort in order to help find your best match.</li>
  <li>Click on each profile to see more details about that person.</li>
  <li>When you find someone who might be a match, click "Contact Now".</li>
  <li>That person will receive a notification of a match, and can choose to accept or deny.</li>
  <li>If they accept, you will both be invited to a private chatroom where you can
      get to know each other and coordinate further details.
  </li>
  <li>Meet for a run with your new running or cycling partner!</li>
</ol>
