@import 'colors';

body {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;

  h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }

  h2 {
    text-align: center;
    color: $forest-green
  }

  h5 {
    font-family: 'Open Sans', sans-serif;
  }

  p{
    font-family: 'Open Sans', sans-serif;
  }
}

.shoutout {
  color: $white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}


.subtext {
  color: $white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.top-bar {
  background-color: $white;

  .menu-text {
    background-color: $white;
    color: $forest-green;
    font-size: 30px;
  }
  li{
    font-size: 20px;
  }

  ul.menu {
    background-color: $white;

    a:visited {
      color: $lime;
    }

    a:hover {
      color: $lime;
    }

    a:active {
      color: $medium-green;
      background-color: $white;
    }
  }
}

.top-bar-right {

  @media screen and (max-width: 640px){
    margin-left: 35%;
    margin-top: -32px;
  }

}

.callout {
  background-color: $grey;
  max-width: 1050px;
  display: block;
  margin: auto;
  margin-top: 20px;
  border-width: 5px;
  border-color: $medium-green;
}

.wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}

.box {
  border-radius: 5px;
  padding: 20px;
  max-width: 300px;
  height: 100px;
  text-align: center;
  padding-top: 30px;
  border-width: 5px;
  border-color: $lime;
  background-color: $white;

  a {
    color: $navy;
  }
}

.text-block {
  position: absolute;
  bottom: 40px;
  right: 80px;
  background-color: rgba(black, 0.5);
  padding: 70px;
  font-weight: bold;

  @media screen and (max-width: 640px){
    right: 0px;
    bottom: 350px;
    padding: 10px;
  }
}

.start {
  margin-left: 475px;
  margin-top: 35px;

  @media screen and (max-width: 640px){
    margin-left: 140px;
    padding: -5px;
  }
}

.steps {

  li {
    font-family: 'Open Sans', sans-serif;
    margin-left: 30px;
    font-size: 20px;
  }
}

.logo {
  padding-left: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  margin-top: 50px;
  background-color: $grey
}
